*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.created-todo{
    display: flex;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px auto;
  
}
.inputTodo{
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid lightgrey;
    width: 300px;
}
.formTodo{
    display: flex;
  gap: 10px;
}
.btn-todo{
    padding: 7px;
    border-radius: 5px;
    width: 100px;
    border: none;
}
.paragraph-icons{
    display: flex;
    gap: 40px;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   border: 1px solid black;
   width: 300px;
   padding: 4px;
   border-radius: 5px;
   margin: 0 auto;
   margin-bottom: 50px;

}
.icons{
    display: flex;
    gap: 10px;
}
.todo-icons{
    font-size: 25px;
}
